.App {

}

.Title{
  max-width: fit-content;
  display: inline-block;
}

.ProductList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Product{
  width: 25vw;
  text-align: center;
  margin: 1vh 2vw;
  border: 3px solid black;
  border-radius: 3%;
  padding: 1vh 1vw;
  transition: all 300ms;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Product:hover {
  transform: translateY(-2px);
}

.productInCart{
  width: 25vw;
  text-align: center;
  margin: 1vh 2vw;
  border: 3px solid black;
  border-radius: 3%;
  padding: 1vh 1vw;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.detailedProduct{
  width: 40vw;
  text-align: center;
  margin: 2vh 25vw;
  border: 3px solid black;
  border-radius: 3%;
  padding: 1vh 1vw;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.SMButton{
  text-align: center; 
}

.AtCButton{
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 14px 24px 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  transition: transform 200ms,background 200ms;
  background: transparent;
  color: #000000;
  box-shadow: 0 0 0 3px #000000 inset;
}

.AtCButton:hover{
  transform: translateY(-2px);
}

.AtCButton:active{
  background-color: lightgray;
}
  
.HNav{
  text-decoration: none;
  color: white;
}

.HNav:hover{
  cursor: pointer;
  text-decoration: underline;
}

.ProductNav{
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  background: #000000;
  color: #FFFFFF;
  border-radius: 8px;
  margin: 1vh 5vw;
  padding: 14px 24px 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  transition: transform 200ms,background 200ms;
}

.ProductNav:hover{
  transform: translateY(-2px);
}


header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: black;
}

.UserProfile{
  border: 4px solid grey;
  border-radius: 50%;
  max-width: fit-content;
  padding: 10px
}

.UserProfile:hover{
  background-color: lightgrey;
  cursor: pointer;
}

.detailedProduct{
  text-align: center;
}

.ShoppingCart{
  text-align: center;
}