.App {

}

.ProductList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Product{
  width: 25vw;
  text-align: center;
  margin: 1vh 2vw;
  border: 3px solid black;
  border-radius: 3%;
  padding: 1vh 1vw;
  cursor: pointer;
  transition: background-color 0.3s;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Product:hover {
  background-color: lightblue; /* Change the background color on hover */
}

.SMButton{
  text-align: center; 
}

header h2:hover{
  cursor: pointer;
  text-decoration: underline;
}

header{
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: black;
}

.UserProfile{
  border: 4px solid grey;
  border-radius: 50%;
  max-width: fit-content;
  padding: 10px
}

.UserProfile:hover{
  background-color: lightgrey;
  cursor: pointer;
}
